.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-intro {
  font-size: large;
}
.icon{
  animation: icon-spin infinite 20s linear;
}
@keyframes icon-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

}
.temp{
    font-size:2em;
}
.logo{
    margin:5px
}
.today{
    font-size:2em;
}
.day{
    font-size:1.5em;
}
.today > icon{
    width:100px;
}
.center-block{
  width: 20vw;
  margin: 10px auto;
}
.zipInput{
  font-size: 2em;
  border: 0;
  border-bottom: 2px solid black;
}
.fancybox {
  padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 3px rgba(40,40,40,.2),inset 2px 2px 2px rgba(255,255,255,0.8), inset -2px -2px 2px rgba(30,30,30,.3);
    background-color: #F0F3FF;
    color:#222;
}
